body {
    background-color: #f8f8f8;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
 .segment-mod {
   cursor: pointer;
 }
 .fixed-width {
     width: 900px;
     height:300px;
     min-width: 300px;
     min-height:200px;
     border:1px solid #000000;
 }


 .landpage-image{
      height: 55%;
}

.landpage-image{
    background-image: url('..bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
