extends layout

block content
  .ui.main.container
    h1.ui.left.aligned.header Publish TechCrunch Article

    .ui.grid.fixed


      .left.aligned.thirteen.wide.column
        .ui.segments
          .ui.horizontal.segments
          .ui.segment
            .ui.input.fluid
              input(type='text', placeholder='Title', id='subject')
          .ui.segment.form
            textarea(rows='18', placeholder='Message', id='emailMessage')
          .center.aligned.ui.segment.form
            button.ui.right.primary.icon.button(id="sendEmail") Send
              i.right.arrow.icon



      .right.aligned.three.wide.column
                .ui.segments.smartSentences
                  .ui.segment
                    | Reading Time
                    a.ui.green.circular.label(style='float:left', id='readingTime') 0s
                  .ui.segment
                    | Tone
                    a.ui.olive.circular.label(style='float:left') B
                  .ui.segment
                    | Readability
                    a.ui.green.circular.label(style='float:left', id='readabilityGrade') A
                  .ui.segment
                    | Clarity Score
                    a.ui.green.circular.label(style='float:left', id='readabilityGrade') A
                  .ui.segment
                    | Word Count
                    a.ui.green.circular.label(style='float:left', id='wordCount') 0
                  .ui.segment
                    | Agreeableness
                    a.ui.green.circular.label(style='float:left', id='toneAnalysis') 0