extends layout

block content
  .ui.main.container
    h1.ui.left.aligned.header Start Writing Great Articles

    .ui.grid.fixed


      .left.aligned.twelve.wide.column
        .ui.segments
          .ui.horizontal.segments
          .ui.segment
            .transparent.massive.ui.input.fluid.icon
              input(type='text', placeholder='Title', id='subject', icon='users icon')
          .ui.segment.form
            textarea(rows='18', placeholder='Message', id='emailMessage')
          .center.aligned.ui.segment.form
            button.labeled.ui.large.green.right.icon.button(id="sendEmail") Publish
              i.right.send.icon



      .three.wide.column
              .left.aligned

                //| Heuristics

                .ui.segments.smartSentences


                  .ui.segment.right.aligned
                    | Tone
                    a.ui.olive.circular.label(style='float:left') B
                  .ui.segment.right.aligned
                    | Reading Time
                    a.ui.green.circular.label(style='float:left', id='readingTime') 0s
                  .ui.segment.right.aligned
                    | Readability
                    a.ui.green.circular.label(style='float:left', id='readabilityGrade') A
                  .ui.segment.right.aligned
                    | Clarity Score
                    a.ui.green.circular.label(style='float:left', id='clarity') A
                  .ui.segment.right.aligned
                    | Word Count
                    a.ui.green.circular.label(style='float:left', id='wordCount') 0
                  .ui.segment.right.aligned
                    | Agreeableness
                    a.ui.green.circular.label(style='float:left', id='toneAnalysis') 0
                  .ui.secondary.segment
                    | Smart Tips
