doctype html
html
  head
    title
      |Writer's Club
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/semantic/semantic.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='http://garysieling.github.io/jquery-highlighttextarea/dist/jquery-highlighttextarea/jquery.highlighttextarea.min.css')
    link(rel='stylesheet', href='http://garysieling.github.io/jquery-highlighttextarea/dist/jquery-ui/themes/smoothness/jquery-ui.min.css')

    script(type='text/javascript', src='/javascripts/jquery-3.1.0.min.js')

  body
  .ui.fixed.inverted.menu
        .ui.container
          a.header.item(href='#')
            //img.logo(src='assets/images/logo.png')
            i.fire.icon
            | Writer's Club
          a.item(href='#')
            i.home.icon
          a.item(href='#')
            i.setting.icon
  block content

  script(type='text/javascript', src='/javascripts/main.js')
  script(type='text/javascript', src='http://garysieling.github.io/jquery-highlighttextarea/dist/jquery-ui/ui/minified/jquery-ui.min.js')
  script(type='text/javascript', src='http://garysieling.github.io/jquery-highlighttextarea/dist/jquery-highlighttextarea/jquery.highlighttextarea.min.js')
